/** Media Queries **/
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #1FA2FF;
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* ***** => Grid Container (1) <= ***** */
/* ***** => Definiendo Columnas(column) y filas(rows) (2) <= ***** */
/* ***** => Auto (3) <= ***** */
/* ***** => Shorthand (4) <= ***** */
/* ***** => Repeat (5) <= ***** */
/* ***** => Grid Areas: Nombres (6) <= ***** */
/* ***** => Grid Areas: Automovil (7) <= ***** */
/* ***** => Grid Areas: Automovil2 (8) <= ***** */
/* ***** => Grid FR, Repeat (9) <= ***** */
/* ***** => Layout Experimental (10) <= ***** */
.contenedor {
  display: grid;
  margin: 0 auto;
  max-width: 900px;
  background-color: #FFFFFF;
  height: 100vh;
  grid-template-areas: "header" "nav" "izquierda" "contenido" "derecha" "footer";
}

@media only screen and (min-width: 768px) {
  .contenedor {
    grid-template-areas: "header header header header" "izquierda nav nav nav" "izquierda contenido contenido derecha" "izquierda contenido contenido derecha" "footer footer footer derecha";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 80px auto auto 80px;
    grid-gap: 1rem;
  }
}

.contenedor > * {
  padding: 2rem;
  font-size: 1.4rem;
}

.contenedor header {
  background-color: cornflowerblue;
  grid-area: header;
}

.contenedor nav {
  background-color: coral;
  grid-area: nav;
}

.contenedor aside.izquierda {
  background-color: cadetblue;
  grid-area: izquierda;
}

.contenedor .contenido-principal {
  background-color: crimson;
  grid-area: contenido;
}

.contenedor aside.derecha {
  background-color: darkblue;
  grid-area: derecha;
}

.contenedor footer {
  background-color: darkmagenta;
  grid-area: footer;
}
