@charset "UTF-8";
/** Media Queries **/
html {
  box-sizing: border-box;
}

* {
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/* ***** => Grid Container (1) <= ***** */
/* ***** => Definiendo Columnas(column) y filas(rows) (2) <= ***** */
/* ***** => Auto (3) <= ***** */
/* ***** => Shorthand (4) <= ***** */
/* ***** => Repeat (5) <= ***** */
/* ***** => Grid Areas: Nombres (6) <= ***** */
/* ***** => Grid Areas: Automovil (7) <= ***** */
/* ***** => Grid Areas: Automovil2 (8) <= ***** */
/* ***** => Grid FR, Repeat (9) <= ***** */
/* ***** => Layout Experimental (10) <= ***** */
/* ***** => Grid Auto-fit y Auto-fill (11) <= ***** */
/* ***** => Receta Fácil (12) <= ***** */
/* ***** => Categorias (13) <= ***** */
.badgeAudioVisual {
  background-color: #fa7800;
}

.badgeMarketing {
  background-color: #29b8e8;
}

.badgeDesarrollo {
  background-color: #33b13a;
}

.badgeDiseno {
  background-color: #6b407e;
}

.badgeNegocio {
  background-color: #f5c443;
}

.badgeProfesional {
  background-color: #cb161d;
}

div {
  display: block;
}

.buscador {
  padding: 1em 1em 0;
  position: relative;
  color: #606164;
}

@media only screen and (min-width: 768px) {
  .buscador {
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
  }
}

.buscador .buscador-contenedor {
  display: grid;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  position: relative;
}

.buscador .buscador-contenedor .titulo {
  text-align: center;
  margin-bottom: 16px;
}

.buscador .buscador-contenedor .titulo h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: .83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #273b47;
}

.buscador .buscador-contenedor .contenido {
  position: relative;
}

.buscador .buscador-contenedor .contenido span {
  position: absolute;
  top: 16px;
  left: 10px;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .buscador .buscador-contenedor .contenido span {
    top: 17px;
    font-size: 14px;
  }
}

.buscador .buscador-contenedor .contenido input[type="search"] {
  font-size: 12px;
  padding: 1.2em 1.2em 1.2em 3em;
  width: 100%;
  border: 1px solid #d9dfe6;
  height: 42px;
  outline: 0;
  border-radius: 5px;
  margin-right: 16px;
}

@media only screen and (min-width: 768px) {
  .buscador .buscador-contenedor .contenido input[type="search"] {
    font-size: 14px;
    padding: 1.3em 1.3em 1.3em 2.4em;
    height: 48px;
  }
}

.categorias {
  padding: 1em 1em 2em;
  color: #4a4a4a;
}

@media only screen and (min-width: 768px) {
  .categorias {
    padding: 1.5em 1em;
  }
}

.categorias .categorias-contenedor {
  display: grid;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .categorias .categorias-contenedor {
    grid-template-columns: minmax(auto, 936px);
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-row-gap: .5em;
  grid-auto-rows: 1fr;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .items {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-row-gap: .5em;
  }
}

@media only screen and (min-width: 1024px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: .5em;
  }
}

.item {
  display: grid;
  grid-template-columns: 64px auto;
  background-color: #f3f8fb;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  z-index: 0;
  height: 100%;
}

.item .badgeAudioVisual,
.item .badgeMarketing,
.item .badgeDesarrollo,
.item .badgeDiseno,
.item .badgeNegocio,
.item .badgeProfesional {
  border-radius: 6px 0px 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .badgeAudioVisual img,
.item .badgeMarketing img,
.item .badgeDesarrollo img,
.item .badgeDiseno img,
.item .badgeNegocio img,
.item .badgeProfesional img {
  width: 32px;
  border-style: none;
}

.item .categoria {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  align-self: center;
}

.item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  text-decoration: none;
}

.produccion-audiovisual:hover {
  background-color: #fa7800;
  color: #FFFFFF;
}

.marketing:hover {
  background-color: #29b8e8;
  color: #FFFFFF;
}

.desarrollo:hover {
  background-color: #33b13a;
  color: #FFFFFF;
}

.diseno:hover {
  background-color: #6b407e;
  color: #FFFFFF;
}

.negocios {
  background-color: #f3f8fb;
  transition: .3s;
}

.negocios:hover {
  background-color: #f5c443;
  transition: background-color .3s ease;
  color: #FFFFFF;
}

.profesional:hover {
  background-color: #cb161d;
  color: #FFFFFF;
}
